name: 'ci'

on: [push, pull_request]

jobs:
  build:
    name: 'Build on ${{ matrix.os.name }} ${{ matrix.arch }}'
    runs-on: ${{ matrix.os.name }}-${{ matrix.os.version }}

    strategy:
      matrix:
        os:
          - name: Ubuntu
            version: latest
          - name: macOS
            version: latest
          - name: Windows
            version: 2019
        arch: [x64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          architecture: ${{ matrix.arch }}

      - name: Install dependencies and build from source
        run: npm ci --build-from-source

      - name: Prebuild binaries
        run: npm run prebuild

      - name: 'Upload prebuilt binaries'
        uses: actions/upload-artifact@v2
        with:
          name: prebuilds-${{ matrix.os.name }}-${{ matrix.arch }}
          path: prebuilds

  publish:
    name: 'Publish release'
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node.js with registry configured for publish
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies without building
        run: npm ci --ignore-scripts

      - name: Download prebuilt binaries
        uses: actions/download-artifact@v2
        with:
          path: prebuilds

      # - name: Publish to npm
      #   run: npm publish
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: 'Upload prebuilt artifacts to GitHub release'
        run: npm run prebuild-upload -- ${{ secrets.GITHUB_TOKEN }}
